<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TESVMP_Launcher.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SKSE_Launcher.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <TESVMP_Launcher.My.MySettings>
            <setting name="check1" serializeAs="String">
                <value>Unchecked</value>
            </setting>
            <setting name="check2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="check3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="check4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="check5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bg_image" serializeAs="String">
                <value>Stretch</value>
            </setting>
            <setting name="BackgroundImageName" serializeAs="String">
                <value />
            </setting>
            <setting name="bgimage" serializeAs="String">
                <value>Stretch</value>
            </setting>
            <setting name="varible" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstTimeUsed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Game" serializeAs="String">
                <value />
            </setting>
            <setting name="Gamepath" serializeAs="String">
                <value />
            </setting>
            <setting name="SSEEdit" serializeAs="String">
                <value />
            </setting>
            <setting name="FNIS" serializeAs="String">
                <value />
            </setting>
            <setting name="form1_sizeX" serializeAs="String">
                <value>612</value>
            </setting>
            <setting name="form1_sizeY" serializeAs="String">
                <value>266</value>
            </setting>
            <setting name="PLAY0_Btn" serializeAs="String">
                <value />
            </setting>
            <setting name="Play_btn" serializeAs="String">
                <value />
            </setting>
            <setting name="Play_Btn_Mouseover" serializeAs="String">
                <value />
            </setting>
            <setting name="Options_Btn" serializeAs="String">
                <value />
            </setting>
            <setting name="Options_Btn_mouseover" serializeAs="String">
                <value />
            </setting>
            <setting name="Exit_Btn" serializeAs="String">
                <value />
            </setting>
            <setting name="Exit_Btn_mouseover" serializeAs="String">
                <value />
            </setting>
            <setting name="Play_btn_Size" serializeAs="String">
                <value>349, 146</value>
            </setting>
            <setting name="PLAY0_Size" serializeAs="String">
                <value>164, 43</value>
            </setting>
            <setting name="OPTIONS0_Size" serializeAs="String">
                <value>164, 43</value>
            </setting>
            <setting name="EXIT0_Size" serializeAs="String">
                <value>164, 43</value>
            </setting>
            <setting name="Play_Location" serializeAs="String">
                <value>436, 21</value>
            </setting>
            <setting name="OPTIONS_location" serializeAs="String">
                <value>436, 95</value>
            </setting>
            <setting name="Exit_location" serializeAs="String">
                <value>436, 164</value>
            </setting>
            <setting name="Opacity_Play" serializeAs="String">
                <value />
            </setting>
            <setting name="Opacity_Options" serializeAs="String">
                <value />
            </setting>
            <setting name="Opacity_Exit" serializeAs="String">
                <value />
            </setting>
            <setting name="Custom1_visible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomButton1_Image" serializeAs="String">
                <value />
            </setting>
            <setting name="Application_Buttton1" serializeAs="String">
                <value />
            </setting>
            <setting name="Button1" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="PlayPosition1" serializeAs="String">
                <value />
            </setting>
            <setting name="PlayPosition2" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingsPosition1" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingsPosition2" serializeAs="String">
                <value />
            </setting>
            <setting name="ExitPosition1" serializeAs="String">
                <value />
            </setting>
            <setting name="ExitPosition2" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
        </TESVMP_Launcher.My.MySettings>
        <SKSE_Launcher.My.MySettings>
            <setting name="check1" serializeAs="String">
                <value>Unchecked</value>
            </setting>
            <setting name="check2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="check3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="check4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="check5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bg_image" serializeAs="String">
                <value>Stretch</value>
            </setting>
            <setting name="BackgroundImageName" serializeAs="String">
                <value />
            </setting>
            <setting name="bgimage" serializeAs="String">
                <value>Stretch</value>
            </setting>
            <setting name="varible" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstTimeUsed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Game" serializeAs="String">
                <value />
            </setting>
            <setting name="Gamepath" serializeAs="String">
                <value />
            </setting>
            <setting name="SSEEdit" serializeAs="String">
                <value />
            </setting>
            <setting name="FNIS" serializeAs="String">
                <value />
            </setting>
            <setting name="form1_sizeX" serializeAs="String">
                <value>612</value>
            </setting>
            <setting name="form1_sizeY" serializeAs="String">
                <value>266</value>
            </setting>
            <setting name="PLAY0_Btn" serializeAs="String">
                <value />
            </setting>
            <setting name="Play_btn" serializeAs="String">
                <value />
            </setting>
            <setting name="Play_Btn_Mouseover" serializeAs="String">
                <value />
            </setting>
            <setting name="Options_Btn" serializeAs="String">
                <value />
            </setting>
            <setting name="Options_Btn_mouseover" serializeAs="String">
                <value />
            </setting>
            <setting name="Exit_Btn" serializeAs="String">
                <value />
            </setting>
            <setting name="Exit_Btn_mouseover" serializeAs="String">
                <value />
            </setting>
            <setting name="Play_btn_Size" serializeAs="String">
                <value>349, 146</value>
            </setting>
            <setting name="PLAY0_Size" serializeAs="String">
                <value>164, 43</value>
            </setting>
            <setting name="OPTIONS0_Size" serializeAs="String">
                <value>164, 43</value>
            </setting>
            <setting name="EXIT0_Size" serializeAs="String">
                <value>164, 43</value>
            </setting>
            <setting name="Play_Location" serializeAs="String">
                <value>436, 21</value>
            </setting>
            <setting name="OPTIONS_location" serializeAs="String">
                <value>436, 95</value>
            </setting>
            <setting name="Exit_location" serializeAs="String">
                <value>436, 164</value>
            </setting>
            <setting name="Opacity_Play" serializeAs="String">
                <value />
            </setting>
            <setting name="Opacity_Options" serializeAs="String">
                <value />
            </setting>
            <setting name="Opacity_Exit" serializeAs="String">
                <value />
            </setting>
            <setting name="Custom1_visible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomButton1_Image" serializeAs="String">
                <value />
            </setting>
            <setting name="Application_Buttton1" serializeAs="String">
                <value />
            </setting>
            <setting name="Button1" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="PlayPosition1" serializeAs="String">
                <value />
            </setting>
            <setting name="PlayPosition2" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingsPosition1" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingsPosition2" serializeAs="String">
                <value />
            </setting>
            <setting name="ExitPosition1" serializeAs="String">
                <value />
            </setting>
            <setting name="ExitPosition2" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
        </SKSE_Launcher.My.MySettings>
    </userSettings>
</configuration>
